beautifulsoup4==4.14.2
ddgs==9.6.0
duckduckgo_search==8.1.1
joblib==1.5.2
langchain==0.3.27
langchain-community==0.3.31
langchain-core==0.3.79
langchain-google-genai==2.1.12
lxml==6.0.2
lxml_html_clean==0.4.3
numpy==2.3.3
pandas==2.3.3
plotly==6.3.1
pyppeteer==2.0.0
python-dotenv==1.1.1
requests==2.32.5
requests-html==0.10.0
sentence-transformers==5.1.1
streamlit==1.50.0